{% load static %}
<!doctype html>
<html lang="en">
<head>
<title>{% block titulo %}{% endblock %}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{% static 'web/css/style.css' %} ">
    <link rel="stylesheet" href="{% static 'web/css/bootstrap.min.css' %} ">
	{% block extra_css %}{% endblock %}
</head>
<body>
<div class="wrapper d-flex align-items-stretch">
	<nav id="sidebar">
		<div class="custom-menu">
			<button type="button" id="sidebarCollapse" class="btn btn-primary">
				<i class="fa fa-bars"></i>
				<span class="sr-only">Toggle Menu</span>
			</button>
		</div>
		<div class="p-4 pt-5">
			<h1><a href="{% url 'index' %}" class="logo">Ventas Web 2.0</a></h1>
			<ul class="list-unstyled components mb-5">
				<li><a href="{% url 'index' %}">Home</a></li>
				<li><a href="#menuCliente" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Clientes</a>
					<ul class="collapse list-unstyled" id="menuCliente">
						<li><a href="{% url 'cliente_nuevo' %}">Nuevo</a></li>
						<li><a href="{% url 'cliente_consulta' %}">Consultar</a></li>
						<li><a href="{% url 'cliente_listar' %}">Listar</a></li>
					</ul>
				</li>
				<li><a href="#menuVendedor" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Vendedores</a>
					<ul class="collapse list-unstyled" id="menuVendedor">
						<li><a href="{% url 'vendedor_nuevo' %}">Nuevo</a></li>
						<li><a href="{% url 'vendedor_consulta' %}">Consultar</a></li>
					</ul>
				</li>
				<li><a href="#menuProducto" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Productos</a>
					<ul class="collapse list-unstyled" id="menuProducto">
						<li><a href="{% url 'producto_nuevo' %}">Nuevo</a></li>
						<li><a href="{% url 'producto_consulta' %}">Consultar</a></li>
					</ul>
				</li>
				<li><a href="#menuVentas" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Ventas</a>
					<ul class="collapse list-unstyled" id="menuVentas">
						<li><a href="{% url 'venta_nueva' %}">Nuevo</a></li>
						<li><a href="{% url 'venta_consulta' %}">Consultar</a></li>
					</ul>
				</li>			
			</ul>
			<div class="footer">
				<p>TP - Django</p>
			</div>
		</div>
	</nav>

	<div id="content" class="p-4 p-md-5 pt-5">
		{% block main %}{% endblock %}
	</div>
</div>

<script src="{% static 'web/js/jquery.min.js' %} "></script>
<script src="{% static 'web/js/popper.js' %} "></script>
<script src="{% static 'web/js/bootstrap.min.js' %} "></script>
<script src="{% static 'web/js/main.js' %} "></script>
</body>
</html>